<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
  <img src="logo.png" alt="Logo">
  <form>
    <input type="text" placeholder="Buscar">
    <button>Buscar</button>
  </form>
  <p>Comprá en cuotas y sin tarjeta de crédito</p>
  <nav>
    <a href="/ofertas">Ofertas</a> |
    <a href="/tiendas-oficiales">Tiendas Oficiales</a> |
    <a href="/vender">Vender</a> |
    <a href="/ayuda">Ayuda</a> |
    <a href="/crear-cuenta">Creá tu cuenta</a> |
    <a href="/ingresar">Ingresá</a> |
    <a href="/mis-compras">Mis compras</a>
  </nav>
</header>
<main>
      <h2>Bienvenidos a mi página web</h2>
      <p>En esta página encontrarás información sobre mí y mis intereses.</p>
    </main>

    <footer>
      <p>&copy; 2022 Mi nombre</p>
    </footer>
</body>
</html>