        ../../../.Icecream Screen Recorder/
        ../../../.bash_history
        ../../../.cache/
        ../../../.eclipse/
        ../../../.gitconfig
        ../../../.gitignore
        ../../../.idlerc/
        ../../../.lesshst
        ../../../.node_repl_history
        ../../../.p2/
        ../../../.vscode/
        ../../../AppData/
        ../../../Contacts/
        ../../../Downloads/
        ../../../Estudiantes.cvs
        ../../../Favorites/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{5399fa98-4004-11ed-8af3-be7b0469ea92}.TM.blf
        ../../../NTUSER.DAT{5399fa98-4004-11ed-8af3-be7b0469ea92}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{5399fa98-4004-11ed-8af3-be7b0469ea92}.TMContainer00000000000000000002.regtrans-ms
        ../../
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../eclipse-workspace/
        ../../../estudiantes.csv
        ../../../ful/
        ../../../leame.txt
        ../../../log/
        ../../../mp2022c5/
        ../../../mp2022tp06/
        ../../../mptp07/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
        ../../../package-lock.json
        ../../../package.json
        ../../../prueva/
        ../../../python/

 ../../../.Icecream Screen Recorder/
        ../../../.bash_history
        ../../../.cache/
        ../../../.eclipse/
        ../../../.gitconfig
        ../../../.gitignore
        ../../../.idlerc/
        ../../../.lesshst
        ../../../.node_repl_history
        ../../../.p2/
        ../../../.vscode/
        ../../../AppData/
        ../../../Contacts/
        ../../../Downloads/
        ../../../Estudiantes.cvs
        ../../../Favorites/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{5399fa98-4004-11ed-8af3-be7b0469ea92}.TM.blf
        ../../../NTUSER.DAT{5399fa98-4004-11ed-8af3-be7b0469ea92}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{5399fa98-4004-11ed-8af3-be7b0469ea92}.TMContainer00000000000000000002.regtrans-ms
        ../../
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../eclipse-workspace/
        ../../../estudiantes.csv
        ../../../ful/
        ../../../leame.txt
        ../../../log/
        ../../../mp2022c5/
        ../../../mp2022tp06/
        ../../../mptp07/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
        ../../../package-lock.json
        ../../../package.json
        ../../../prueva/
        ../../../python/ 
